# Java
*.class
*.jar
*.war
*.ear
!gradle-wrapper.jar

# Eclipse
.project
.classpath
.settings
.metadata

# sql
/Users/kagoshin/tutorial/sql/compGuide/setup/*

# py_ml_env
workspace/py_ml_env/smplSrc/
