# Java
*.class
*.jar
*.war
*.ear
!gradle-wrapper.jar

# Eclipse
.project
.classpath
.settings
.metadata

# sql
sql/compGuide/setup/
sql/practicalIntro/codeSample/

# py_ml_env
workspace/py_ml_env/smplSrc/
workspace/py_ml_env/src/ch4/mnist/
workspace/py_ml_env/src/ch4/lang/
workspace/py_ml_env/src/ch5/mnist/
workspace/py_ml_env/src/ch6/456_ruby_145.zip
workspace/py_ml_env/src/ch6/773_ruby_5968.zip
workspace/py_ml_env/src/ch6/kokoro.model
workspace/py_ml_env/src/ch6/kokoro.txt.sjis
workspace/py_ml_env/src/ch6/kokoro.wakati
workspace/py_ml_env/src/ch6/text
workspace/py_ml_env/src/ch6/__pycache__/*
workspace/py_ml_env/src/ch6/newstext/*
workspace/py_ml_env/src/ch6/markov-kokoro.json

# PYTHON_EXAM
## effectivePython
workspace/PYTHON_EXAM/src/effectivePython/*.txt

# javaScript
javaScript/samples_es2018
javaScript/samples_intro
javaScript/threeJs/archive
javaScript/threeJs/sample
